<h1>Shorten an URL</h1>

<% @url.errors.each do |attr, msg| %>
    <%= msg %> on <%= attr %>
<% end %>

<%= form_for @url do |f| %>
    <%= f.label :original %> : <%= f.text_field :original %>
    <p>
    <%= f.hidden_field :random_id, :value => @url.random_id %> # note the dot, to match what you set in the controller.

    </p>
    <p>
    <%= f.submit "Shorten my Url" %>
    </p>
<% end %>